<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>Base</title>

    {% endblock %}
</head>
<body>
<nav class="navigation">
    <div class="nav-left">
        <h1 id="logo">LOGO</h1>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="nav-right">
        <form action="/search.html" method="get">
            <input class="form-input" type="text" name="query" placeholder="Article Search">
            <button class="btn">Search</button>
        </form>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>