{% extends "blogs/base.html" %}

<title>{% block title %}
{{ blog.id }} | {{ blog.title}}
{% endblock %}
</title>

<!--blog_instance-->
<!--blog_comments-->

{% block content %}

<h2>{{ blog.title }}</h2>

{% if blog.date_published %}
<p><strong>{{ blog.date_published }}</strong></p>

{% else %}
<a href="{% url 'blog_publish' pk=blog.pk %}">Publish</a>
{% endif %}

<h5>- created by {{ blog.author }}  | at  {{blog.date_created}}</h5>
<h5>- last updated {{blog.date_updated}}</h5>

<p>{{ blog.content|safe|linebreaksbr }}</p>


<hr>
<h4>Comments:</h4>
{% if blog.comments.all %}
{% for each_comment in blog.comments.all %}
<div>
    <p>{{ each_comment.comment_desc }}</p>
    <h5>- {{each_comment.commented_by}} | {{each_comment.commented_at}}</h5>
</div>
{% endfor %}
{% else %}
<p>No comments yet</p>
{% endif %}
<form action="{% url 'blog_detail' pk=blog.pk%}" class="form" method="POST">
    {% csrf_token %}
    <fieldset>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <textarea name="comment" id="comment" placeholder="Your comment here"></textarea>
    </fieldset>
<button type="submit">Submit</button>
</form>
{{ blog.comments }}
{% endblock %}